.button {
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 12px;
    border-radius: 20%;
    margin: 5px;
}

.inactive {
    background-color: darkgray;
}

.red {
    background-color: rgb(205, 0, 0);
}

.green {
    background-color: rgb(26, 255, 26);
}

img{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: flex-end;
}

.p{
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    max-width: 540;
}
