.button {
    padding: 10px;
    text-align: center;
    border-radius: 20%;
    gap: 3px;
}


.inactive {
    background-color: darkgray;
}

.red {
    background-color: rgb(205, 0, 0);
}

.green {
    background-color: rgb(26, 255, 26);
}

img{
    height: 20px;
    width: 20px;
    
}

.container{
    display: flex;
    flex-direction: row-reverse;
}

.p{
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    max-width: 540;
}
